<%= render 'shared/navbar_english' %>

<div class="front-page" style="background-image: url('<%= image_path 'antartica2.jpg' %>')" id="home">
  <div class="container banner">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6 text-right"> 
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6 text-right ">
        <div class="front-page-content1 pb-5">
          <h1>Antarctic Data</h1>
          <h1>Collection System</h1>
          <p>
            <span id="banner-typed-text"></span>
          </p>
        </div>
        <div class="front-page-content3">
          <a href="#tempo-real">
            <div class="orange-button">
              DATA
            </div>
          </a>
          <a href="#projetos">
            <div class="white-button">
              MORE INFO
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="projetos">
	<div class= "container text-justify" id="projetos">
		<h2>ATMOS, CEOAC and REMObs PROJECTS </h2>
		<div class="row align-items-center">
			<div class="col-sm-12 col-md-6 col-lg-6 mt-2 align-items-center">	
				<div class= "card-project text-align-center ">
					<%= image_tag "about_2.jpg"%>
				</div>			
			</div>
			<div class="col-sm-12 col-md-6 col-lg-6 mt-2 align-items-center">
				<h6>For the third consecutive year, the <strong>ATMOS</strong>, <strong>CEOAC</strong> and <strong>REMObs</strong> projects, managed by <strong>INPE</strong> and <strong>CHM</strong>, have come together to maintain an extensive system for monitoring wave, wind and current conditions in the Antarctic region. And in this Antarctic summer of 2022/2023, with the support of the Polar Vessel “Almirante Maximiano” and the Oceanographic Support Vessel “Ary Rongel”, they expanded the data collection network in the “Frozen Continent”, with the deploying of 3 mooring buoys, in addition to data collection through oceanographic stations, deploying of wave drifters and installation of meteorological stations near the Antarctic Station Commander Ferraz. <strong>Here you can access the data collected in real time by our systems.</strong></h6>
			</div>			
		</div>
		<div class="row align-items-center mt-2">
			<div class="col-sm-12 col-md-6 col-lg-6 mt-2 align-items-center">	
				<h6>Managed by <strong>INPE's Laboratory for Ocean and Atmosphere Studies (LOA-OBT), ATMOS</strong> is a promising science, technology and innovation initiative aimed at improving the understanding of sea ice-atmosphere-ocean-wave interactions and the exchanges of heat, momentum (amount of movement) and CO2 at their interfaces in the Southern Ocean. It is a component project of <strong>PROANTAR</strong> and financed by <strong>CNPq/MCTI/CAPES</strong>.</h6>
				<h6>Managed by the <strong>Oceans and Cryosphere Group of the Center for Weather Forecast and Climatic Studies at INPE (GOA/CPTEC-INPE)</strong>, the project <strong>CEOAC (Center for Ocean-Atmosphere-Cryosphere Interaction Studies)</strong> is established since 2009 by the INCT of Criosphere, with a view to studying the exchange of heat, momentum and gases between the ocean and the atmosphere in the South Atlantic Ocean and in the Atlantic Sector of the Southern Ocean, as well as the climatic connections between Antarctica and South America. The project uses data from in situ observations, models and satellites and is funded by CNPq, FAPERGS and CAPES.</h6>
			</div>
			<div class="col-sm-12 col-md-6 col-lg-6 mt-2 align-items-center">
				<div class= "card-project text-align-center">
					<%= image_tag "about_1.jpg"%>
				</div>	
			</div>			
		</div>
		<div class="row align-items-center mt-2">
			<div class="col-sm-12 col-md-6 col-lg-6 mt-2 align-items-center">
				<div class= "card-project text-align-center">
					<%= image_tag "about_3.jpg"%>
				</div>	
			</div>
			<div class="col-sm-12 col-md-6 col-lg-6 mt-2 align-items-center">	
				<h6><strong>REMObs (REMO Observacional)</strong> project, a partnership between <strong>Brazilian Navy Hydrography Center (CHM) and PETROBRAS</strong>, contemplates a joint effort for the development and consolidation of a National Metocean Buoy (BMO-BR). And for that, it also foresees the establishment of an operational data collection network in the South Atlantic, a factor of great importance for the calibration and validation of metoceanographic forecasting models.<h6>
				<h6>And this year we also have the support of companies <a href="https://hidromares.com.br/" target="_blank" style="decoration: none"><strong>HIDROMARES</strong></a>, which integrated and is responsible for managing the data of the Criosfera buoy, and <a href="https://www.sofarocean.com/" target="_blank" style="decoration: none"><strong >SOFAR</strong></a>, which has a three-year partnership with CHM and INPE to deploy wave drift buoys on the Drake Passage.</h6>
				<h6>The field work on these projects was only possible thanks to the support of the <strong>Brazilian Navy, Petróleo Brasileiro S.A. and the National Petroleum Agency (ANP)</strong></h6>
			</div>
		</div>
	</div>
</div>
<div class="tempo-real">
	<div class="container" id= "tempo-real">  
		<h2 class="text-center mt-4">REAL TIME DATA</h2>
		<div class="row mb-4  ml-0 mr-0">
			<div class="col-sm-12 col-md-12 col-lg-12"> 
				<div class="orange-button1 w-100">
					MOORED BUOYS
				</div>
			</div>
		</div>
		<div id='fixed-buoys'>
			<div class="row  ml-0 mr-0">
				<div class="col-sm-12 col-md-6 col-lg-6 text-right"> 
					<div id="newmap"
								style="width: 100%; height: 600px;"
								data-markers="<%= @systems.to_json %>"
								data-almirantadoint="<%= @almirantado_int_data.to_json %>"
								data-almirantadoext="<%= @almirantado_ext_data.to_json %>"
								data-inpe="<%= @inpe_data.to_json %>"
								data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
					</div>
				</div>
				<div class="col-sm-12 col-md-6 col-lg-6 text-right"> 
					<% @systems.each do |system| %> 			
						<% if system.name.downcase == 'almirantado_int' %>
							<div class="card-product mt-1 box" id='almirantado_int'>
									<%= image_tag "spotter_blue.jpg"%>
						<% elsif system.name.downcase == 'almirantado_ext'  %>
							<div class="card-product mt-1 box" id='almirantado_ext'>
								<%= image_tag "crios_buoy.jpg"%>
						<% else %>
							<div class="card-product mt-1 box" id='inpe'>
				<%= image_tag "spotter_green.jpg"%>
						<% end %>
							<div class="card-product-infos w-100">
								<% if system.name.downcase == 'almirantado_int' %>
									<h3 class='text-center'>KELLER</h3>
										<p  class='text-center'><strong>LAST DATA:</strong> <%= @almirantado_int_data[:date_time][0].strftime('%Y/%m/%d %H:%M')%></p>
										<div class="row">
											<div class="col-6 text-center">
												<% if @almirantado_int_data[:swvht][0] %>
													<p><strong>WAVE H.:</strong> <%= @almirantado_int_data[:swvht][0]%> m</p>
													<p><strong>WAVE PER.:</strong> <%= @almirantado_int_data[:tp][0]%> s</p>
													<p><strong>WAVE DIR.:</strong> <%= @almirantado_int_data[:wvdir][0].round()%>°</p>
												<% elsif @almirantado_int_data[:swvht][1] %>
													<p><strong>WAVE H.:</strong> <%= @almirantado_int_data[:swvht][1]%> m</p>
													<p><strong>WAVE PER.:</strong> <%= @almirantado_int_data[:tp][1]%> s</p>
													<p><strong>WAVE DIR.:</strong> <%= @almirantado_int_data[:wvdir][1].round()%>°</p>
												<% elsif @almirantado_int_data[:swvht][2] %>
													<p><strong>WAVE H.:</strong> <%= @almirantado_int_data[:swvht][2]%> m</p>
													<p><strong>WAVE PER.:</strong> <%= @almirantado_int_data[:tp][2]%> s</p>
													<p><strong>WAVE DIR.:</strong> <%= @almirantado_int_data[:wvdir][2].round()%>°</p>
												<% else %>
													<p><strong>WAVE H.:</strong> -- m</p>
													<p><strong>WAVE PER.:</strong> -- s</p>
													<p><strong>WAVE DIR.:</strong> -- °</p>
												<% end %>
											</div>
											<div class="col-6 text-center"> 								
												<% if @almirantado_int_data[:sst][0] %>
													<p><strong>SST:</strong> <%= @almirantado_int_data[:sst][0].round()%> °C</p>
												<% elsif @almirantado_int_data[:sst][1] %>
													<p><strong>SST:</strong> <%= @almirantado_int_data[:sst][1].round()%> °C</p>
												<% elsif @almirantado_int_data[:sst][2] %>
													<p><strong>SST:</strong> <%= @almirantado_int_data[:sst][2].round()%> °C</p>
												<% else %>
													<p><strong>SST:</strong> -- °C</p>
												<% end %>
												<% if @almirantado_int_data[:wspd][0] %>
													<p><strong>WIND VEL.:</strong> <%= @almirantado_int_data[:wspd][0].round()%> knots</p>
													<p><strong>WIND DIR.:</strong> <%= @almirantado_int_data[:wdir][0].round()%> °</p>
												<% elsif @almirantado_int_data[:wspd][1] %>
													<p><strong>WIND VEL.:</strong> <%= @almirantado_int_data[:wspd][1].round()%> knots</p>
													<p><strong>WIND DIR.:</strong> <%= @almirantado_int_data[:wdir][1].round()%> °</p>
												<% elsif @almirantado_int_data[:wspd][2] %>
													<p><strong>WIND VEL.:</strong> <%= @almirantado_int_data[:wspd][2].round()%> knots</p>
													<p><strong>WIND DIR.:</strong> <%= @almirantado_int_data[:wdir][2].round()%> °</p>
												<% else %>
													<p><strong>WIND VEL.:</strong> -- knots</p>
													<p><strong>WIND DIR.:</strong> -- °</p>
												<% end %>
											</div>
										</div>
									
								<% elsif system.name.downcase == 'almirantado_ext' %>
									<h3 class='text-center'>CRIOSFERA</h3>
									<p  class='text-center'><strong>LAST DATA:</strong> <%= @almirantado_ext_data[:date_time][0].strftime('%Y/%m/%d %H:%M')%></p>
										<div class="row">
											<div class="col-6 text-center"> 
												<% if @almirantado_ext_data[:pres][0] %>
													<p><strong>PRESSURE:</strong> <%= @almirantado_ext_data[:pres][0].round(1)%> hPa</p>
												<% elsif @almirantado_ext_data[:pres][1] %>
													<p><strong>PRESSURE:</strong> <%= @almirantado_ext_data[:pres][1].round(1)%> hPa</p>
												<% elsif @almirantado_ext_data[:pres][2] %>
													<p><strong>PRESSURE:</strong> <%= @almirantado_ext_data[:pres][2].round(1)%> hPa</p>
												<% else %>
													<p><strong>PRESSURE:</strong> -- hPa</p>
												<% end %>
												<% if @almirantado_ext_data[:atmp][0] %>
													<p><strong>AIR TEMP.:</strong> <%= @almirantado_ext_data[:atmp][0].round(1)%> °C</p>
												<% elsif @almirantado_ext_data[:atmp][1] %>
													<p><strong>AIR TEMP.:</strong> <%= @almirantado_ext_data[:atmp][1].round(1)%> °C</p>
												<% elsif @almirantado_ext_data[:atmp][2] %>
													<p><strong>AIR TEMP.:</strong> <%= @almirantado_ext_data[:atmp][2].round(1)%> °C</p>
												<% else %>
													<p><strong>AIR TEMP.:</strong> -- °C</p>
												<% end %>
												<% if @almirantado_ext_data[:sss][0] %>
													<p><strong>SALT:</strong> <%= @almirantado_ext_data[:sss][0].round(1)%></p>
												<% elsif @almirantado_ext_data[:sss][1] %>
													<p><strong>SALT:</strong> <%= @almirantado_ext_data[:sss][1].round(1)%></p>
												<% elsif @almirantado_ext_data[:sss][2] %>
													<p><strong>SALT:</strong> <%= @almirantado_ext_data[:sss][2].round(1)%></p>
												<% else %>
													<p><strong>SALT:</strong> --</p>
												<% end %>
											</div>
											<div class="col-6 text-center"> 
												<% if @almirantado_ext_data[:sst][0] %>
													<p><strong>SST:</strong> <%= @almirantado_ext_data[:sst][0].round()%> °C</p>
												<% elsif @almirantado_ext_data[:sst][1] %>
													<p><strong>SST:</strong> <%= @almirantado_ext_data[:sst][1].round()%> °C</p>
												<% elsif @almirantado_ext_data[:sst][2] %>
													<p><strong>SST:</strong> <%= @almirantado_ext_data[:sst][2].round()%> °C</p>
												<% else %>
													<p><strong>SST:</strong> -- °C</p>
												<% end %>
												<% if @almirantado_ext_data[:wspd][0] %>
													<p><strong>WIND VEL.:</strong> <%= @almirantado_ext_data[:wspd][0].round()%> knots</p>
													<p><strong>WIND DIR.:</strong> <%= @almirantado_ext_data[:wdir][0].round()%> °</p>
												<% elsif @almirantado_ext_data[:wspd][1] %>
													<p><strong>WIND VEL.:</strong> <%= @almirantado_ext_data[:wspd][1].round()%> knots</p>
													<p><strong>WIND DIR.:</strong> <%= @almirantado_ext_data[:wdir][1].round()%> °</p>
												<% elsif @almirantado_ext_data[:wspd][2] %>
													<p><strong>WIND VEL.:</strong> <%= @almirantado_ext_data[:wspd][2].round()%> knots</p>
													<p><strong>WIND DIR.:</strong> <%= @almirantado_ext_data[:wdir][2].round()%> °</p>
												<% else %>
													<p><strong>WIND VEL.:</strong> -- knots</p>
													<p><strong>WIND DIR.:</strong> -- °</p>
												<% end %>
											</div>
										</div>
									
								<% else %>
									<h3 class='text-center'>PINGUIM</h3>
									<p class='text-center'><strong>LAST DATA:</strong> <%= @inpe_data[:date_time][0].strftime('%Y/%m/%d %H:%M')%></p>
										<div class="row">
											<div class="col-6 text-center"> 
												<% if @inpe_data[:swvht][0] %>
													<p><strong>WAVE H.:</strong> <%= @inpe_data[:swvht][0]%> m</p>
													<p><strong>WAVE PER.:</strong> <%= @inpe_data[:tp][0]%> s</p>
													<p><strong>WAVE DIR.:</strong> <%= @inpe_data[:wvdir][0].round()%>°</p>
												<% elsif @inpe_data[:swvht][1] %>
													<p><strong>WAVE H.:</strong> <%= @inpe_data[:swvht][1]%> m</p>
													<p><strong>WAVE PER.:</strong> <%= @inpe_data[:tp][1]%> s</p>
													<p><strong>WAVE DIR.:</strong> <%= @inpe_data[:wvdir][1].round()%>°</p>
												<% elsif @inpe_data[:swvht][2] %>
													<p><strong>WAVE H.:</strong> <%= @inpe_data[:swvht][2]%> m</p>
													<p><strong>WAVE PER.:</strong> <%= @inpe_data[:tp][2]%> s</p>
													<p><strong>WAVE DIR.:</strong> <%= @inpe_data[:wvdir][2].round()%>°</p>
												<% else %>
													<p><strong>WAVE H.:</strong> -- m</p>
													<p><strong>WAVE PER.:</strong> -- s</p>
													<p><strong>WAVE DIR.:</strong> -- °</p>
												<% end %>
											</div>
											<div class="col-6 text-center"> 
												<% if @inpe_data[:sst][0] %>
													<p><strong>SST:</strong> <%= @inpe_data[:sst][0].round()%> °C</p>
												<% elsif @inpe_data[:sst][1] %>
													<p><strong>SST:</strong> <%= @inpe_data[:sst][1].round()%> °C</p>
												<% elsif @inpe_data[:sst][2] %>
													<p><strong>SST:</strong> <%= @inpe_data[:sst][2].round()%> °C</p>
												<% else %>
													<p><strong>SST:</strong> -- °C</p>
												<% end %>
												<% if @inpe_data[:wspd][0] %>
													<p><strong>WIND VEL.:</strong> <%= @inpe_data[:wspd][0].round()%> knots</p>
													<p><strong>WIND DIR.:</strong> <%= @inpe_data[:wdir][0].round()%> °</p>
												<% elsif @inpe_data[:wspd][1] %>
													<p><strong>WIND VEL.:</strong> <%= @inpe_data[:wspd][1].round()%> knots</p>
													<p><strong>WIND DIR.:</strong> <%= @inpe_data[:wdir][1].round()%> °</p>
												<% elsif @inpe_data[:wspd][2] %>
													<p><strong>WIND VEL.:</strong> <%= @inpe_data[:wspd][2].round()%> knots</p>
													<p><strong>WIND DIR.:</strong> <%= @inpe_data[:wdir][2].round()%> °</p>
												<% else %>
													<p><strong>WIND VEL.:</strong> -- knots</p>
													<p><strong>WIND DIR.:</strong> -- °</p>
												<% end %>
											</div>
										</div>								
								<% end %>
							</div>
						</div>				
					<% end %>
				</div>
			</div>
		</div>
		<div class="row mb-4 mt-4 ml-0 mr-0">
			<div class="col-sm-6 col-md-12 col-lg-12"> 
				<div class="orange-button1 w-100">
					WAVE DRIFTERS
				</div>
			</div>
		</div>
		<div id='drifters' class='mb-3'>
			<div class="row w-100 ml-0 mr-0">
				<div class="col-sm-12 col-md-12 col-lg-12 text-right w-100"> 
					<div id="newmap-drift"
								style="width: 100%; height: 400px;"
								data-markers="<%= @drifters.to_json %>"
								data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
					</div>
				</div>
				<div class="col-sm-12 col-md-12 col-lg-12 text-center"> 
					<h6 class='text-center observation1'>The provision of drift buoys data is courtesy of the company SOFAR OCEAN.</h6>
					<h6 class='text-center observation1'>To access all the data from these buoys, go to:</h6>
					<%= link_to image_tag("logo_sofar.png", class: "nav-img p-0"), "https://weather.sofarocean.com", target: :_blank %>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="image-strip text-center" id="fundo">
  <div class="container reveal">
    <div class="line"></div>
  </div>
</div>


<div class="graficos  mt-2">
	<div class="container" id="graficos">
		<%= form_tag root_path, method: :get, class: 'form-search mb-2' do %>
			<div>
				<p  class='m-0 p-0 letter-date'>Start Date:</p>
				<%= date_field_tag :start_date,
					params[:start_date],
					class: "form-control input-sm p-0",
					placeholder: "Data Inicial",
					value: @start_date.strftime("%Y-%m-%d")
				%>
			</div>
			<div>
				<p class='m-0 p-0  letter-date'>End Date:</p>
				<%= date_field_tag :end_date,
					params[:end_date],
					class: "form-control input-sm p-0",
					placeholder: "Data Final",
					value: @end_date.strftime("%Y-%m-%d")
				%>
			</div>			
			<div class='search w-100' style="writing-mode: vertical-rl">				
				<%= submit_tag "FILTRAR", class: "orange-button-search p-2" %>
			</div>
		<% end %>
		<div id="plotdata-new"
			data-almirantadoint="<%= @almirantado_int_data.to_json %>"
			data-almirantadoext="<%= @almirantado_ext_data.to_json %>"
			data-inpe="<%= @inpe_data.to_json %>"
			data-language='english'>
			<div id="wspd-plot" class='graph'>
			</div>
			<div id="wdir-plot" class='graph'>
			</div>
			<div class="row">
				<div class="col-sm-12 col-md-4">
					<div id="wdir-plot-almirantadoint" class='graph'>
					</div>
				</div>
				<div class="col-sm-12 col-md-4">
					<div id="wdir-plot-almirantadoext" class='graph'>
					</div>
				</div>
				<div class="col-sm-12 col-md-4">
					<div id="wdir-plot-inpe" class='graph'>
					</div>
				</div>
			</div>
			<div id="swvht-plot" class='graph'>
			</div>
			<div id="wvdir-plot" class='graph'>
			</div>
			<div class="row">
				<div class="col-sm-12 col-md-6">
					<div id="wvdir-plot-almirantadoint" class='graph'>
					</div>
				</div>
				<div class="col-sm-12 col-md-6">
					<div id="wvdir-plot-inpe" class='graph'>
					</div>
				</div>
			</div>
			<div id="mxwvht-plot" class='graph'>
			</div>
			<div id="tp-plot" class='graph'>
			</div>
			<div id="sst-plot" class='graph'>
			</div>
			<div id="atmp-plot" class='graph'>
			</div>
			<div id="pres-plot" class='graph'>
			</div>
			<div id="sss-plot" class='graph'>
			</div>
		</div>
	</div>
</div>


<% if @popup %>
	<div class="inactive-tab full-screen flex-container-center" data-pop="<%= @popup %>" id='first-full-screen'>
<% else %>
	<div class="inactive-tab full-screen flex-container-center" data-pop="<%= @popup %>" id='first-full-screen'>
<% end %>

<div class="full-screen flex-container-center" id='first-full-screen'>
	<p><i class="fas fa-times-circle"></i></p>
	<div class='d-flex mt-1'>
		<%= link_to image_tag("logo_pnboia.png", class: "nav-img p-0"), "https://www.marinha.mil.br/chm/dados-do-goos-brasil/pnboia-mapa", target: :_blank %>
		<%= link_to image_tag("logo_remo.png", class: "nav-img p-0"), "http://www.fis.ufba.br/rede-de-modelagem-e-observacao-oceanografica-remo", target: :_blank %>
		<%= link_to image_tag("logo_inpe.png", class: "nav-img p-0"), "https://loa-inpe.github.io/", target: :_blank %>
	</div>
	<h4 class='mt-2 text-center'><strong>Dados observacionais em tempo real para a Antártica</strong></h4>
	<h4 class='mt-2 text-center'><strong>ATENÇÃO: DADOS EM FUSO UTC</strong></p>
	<h4 class='m-0 text-center'>CÓDIGOS DISPONÍVEIS EM:</h3>
	<div class="row  justify-content-center ">
		<div class='col-4 card-git text-center  justify-content-center'>
			<a href="https://github.com/soutobias/oceanoobsbrasil" target="_blank" class='text-center'>
				<i class="fab fa-github m-0  p-0 text-center"></i>
				<h4 class='m-0  p-0 text-center'>DATA</p>
			</a>
		</div>
		<div class='col-4 card-git text-center justify-content-center'>
			<a href="https://github.com/soutobias/remobs_api" target="_blank" class='text-center'>
				<i class="fab fa-github m-0 p-0 text-center"></i>
				<h4 class='m-0  p-0 text-center'>API</p>
			</a>
		</div>
		<div class='col-4 card-git text-center'>
			<a href="https://github.com/VanessaBach/Antarctic-Buoys" target="_blank" class='text-center'>
				<i class="fab fa-github m-0  p-0 text-center"></i>
				<h4 class='m-0  p-0 text-center'>WEB</p>
			</a>
		</div>
		<h4 class='m-2 text-center'><strong>Site desenvolvido pela 1T(RM2-T) Vanessa Bach, do Centro de Hidrografia da Marinha</strong></h4>
	</div>
</div>
