<%= render 'shared/navbar' %>

<h1 class="text-center font-weight-bold p-3">ADMIN</h1>
<h3 class='text-center p-2'>BOIAS</h2>
<div class="row ml-0 mr-0 pt-3 pb-5">
    <div class="col-sm-12 col-md-12 col-lg-12 text-right"> 
        <div class="row ml-0 mr-0">
            <% @buoys.each_with_index do |buoy, idx| %>
                <div class="col-sm-12 col-md-6 col-lg-6 text-right d-flex"> 
                    <div class="card-product-new mt-1 p-0 box">
                        <% if buoy.status %>
                            <%= image_tag "buoy_green.png"%>
                        <% else %>
                            <%= image_tag "buoy_red.png"%>
                        <% end %>                            
                        <div class="card-product-infos w-100">
                            <h3 class='text-center'><%= buoy.name %></h3>
                        </div>
                    </div>
                    <div class='d-flex'>
                        <%= link_to "Editar", edit_buoy_path(buoy), class: "btn btn-outline-danger m-1" %>
                        <%= link_to "Apagar", buoy_path(buoy), method: :delete, data: { confirm: "Tem certeza?" }, class: "btn btn-outline-danger m-1" %>
                    </div>
                </div>
            <% end %>
            <div class="col-sm-12 col-md-12 col-lg-12 text-right d-flex"> 
                <%= link_to "ADICIONAR NOVA BOIA", new_buoy_path, class: "btn btn-success m-1 w-100" %>
            </div>
        </div>
    </div>
</div>
<%= link_to "PÃGINA INICIAL", root_path, class: "btn btn-outline-primary m-1" %>
