<%= render 'shared/navbar' %>

<div class="container mt-5">
    <h1 class="font-weight-bold text-center p-3 h1"><%= @buoy.name %></h1>
    <%= simple_form_for @buoy, html: { class: "results row justify-content-around"} do |f| %>
        <div class='col-12 mt-5 pt-1'>
            <%= f.input :buoy_id, label: 'buoy_id' %>
            <%= f.input :hull_id, label: 'hull_id' %>
            <%= f.input :name, label: 'NOME' %>
            <%= f.input :deploy_date, label: 'DATA DE LANÇAMENTO' %>
            <%= f.input :latitude, label: 'LATITUDE' %>
            <%= f.input :longitude, label: 'LONGITUDE' %>
            <%= f.input :open_data, label: 'STATUS', as: :select, collection: [['Funcionamento',true], ['Manutenção',false]], required: true %>
            <%= f.input :mode, label: 'MODO DE FUNCIONAMENTO' %>
            <%= f.input :wmo_number, label: 'NUMERO WMO' %>
            <%= f.input :antenna_id, label: 'antenna_id' %>
            <%= f.input :open_data, label: 'DADOS PUBLICOS?', as: :select, collection: [['Sim',true], ['Não',false]], required: true %>
            <%= f.input :link_site_pnboia, label: 'link_site_pnboia' %>
            <%= f.input :project_id, label: 'project_id' %>
            <%= f.input :manufacturer, label: 'FABRICANTE' %>
            <%= f.input :model, label: 'MODELO' %>
            <%= f.input :diameter, label: 'DIÂMETRO' %>
            <%= f.input :weight, label: 'PESO' %>
            <%= f.input :depth, label: 'PROFUNDIDADE' %>
            <%= f.input :sensor_description, label: 'DESCRIÇÃO DOS SENSORES', :input_html => { 'rows' => 10, 'cols' => 10 } %>
            <%= f.input :working_cycle, label: 'CICLO DE FUNCIONAMENTO', :input_html => { 'rows' => 10, 'cols' => 10 } %>
            <%= f.input :mooring_description, label: 'DESCRIÇÃO DO FUNDEIO', :input_html => { 'rows' => 10, 'cols' => 10 } %>
            <%= f.input :dimension_description, label: 'DESCRIÇÃO DAS DIMENSÕES', :input_html => { 'rows' => 10, 'cols' => 10 } %>
            <%= f.input :observation, label: 'OBSERVAÇÃO', :input_html => { 'rows' => 10, 'cols' => 10 } %>
            <%= f.button :submit, "Atualizar Equipamento", class: "btn btn-outline-danger m-2"%>
        </div>
    <% end %>

    <div class='row justify-content-center pt-3'>
        <div class='col-12 pt-5 pb-5'>
            <p class='text-center'>IMAGEM DE PERFIL</p>
            <div class='row justify-content-center'>
                <div class='col-6'>
                    <%= simple_form_for @buoy, :url => add_image_attachment_buoy_url(@buoy), html: { class: "d-flex justify-content-center"} do |f| %>
                        <%=text_field_tag :type, "profile_picture", class: "inactive-tab"%>
                        <%= f.input :picture, label: false, as: :file, input_html: { multiple: true }, required: true %>
                        <%= f.button :submit, "ADD", class: "btn btn-outline-danger m-0"%>
                    <% end %>
                </div>
                <div class='col-2'>
                </div>
                <div class='col-4'>
                    <% @buoy.profile_picture.each_with_index do |picture, idx| %>
                        <%= simple_form_for @buoy, :url => delete_image_attachment_buoy_url(@buoy), html: { class: "d-inline"} do |f| %>
                            <%=text_field_tag :type, "profile_picture", class: "inactive-tab"%>
                            <%=text_field_tag :file_name, picture, class: "inactive-tab"%>
                            <%= image_tag "http://www.pnboia.org/pictures/#{picture}", class: "nav-img"%>
                            <%= f.button :submit, "X", class: "btn btn-outline-danger m-0", data: { confirm: 'Are you sure?' } %>
                        <% end %>
                    <% end %>
                </div>
            </div>
        </div>
        <div class='col-12 pt-5 pb-5'>
            <p class='text-center'>IMAGENS DA BOIA</p>
            <div class='row justify-content-center'>
                <div class='col-6'>
                    <%= simple_form_for @buoy, :url => add_image_attachment_buoy_url(@buoy), html: { class: "d-flex justify-content-center"} do |f| %>
                        <%=text_field_tag :type, "picture", class: "inactive-tab"%>
                        <%= f.input :picture, label: false, as: :file, input_html: { multiple: true }, required: true %>
                        <%= f.button :submit, "ADD", class: "btn btn-outline-danger m-0"%>
                    <% end %>
                </div>
                <div class='col-2'>
                </div>
                <div class='col-4'>
                    <% @buoy.picture.each_with_index do |picture, idx| %>
                        <%= simple_form_for @buoy, :url => delete_image_attachment_buoy_url(@buoy), html: { class: "d-inline"} do |f| %>
                            <%=text_field_tag :type, "picture", class: "inactive-tab"%>
                            <%=text_field_tag :file_name, picture, class: "inactive-tab"%>
                            <%= image_tag "http://www.pnboia.org/pictures/#{picture}", class: "nav-img"%>
                            <%= f.button :submit, "X", class: "btn btn-outline-danger m-0", data: { confirm: 'Are you sure?' } %>
                        <% end %>
                    <% end %>
                </div>
            </div>
        </div>

        <div class='col-12 pt-5 pb-5'>
            <p class='text-center'>DIMENSÕES DA BOIA</p>
            <div class='row justify-content-center'>
                <div class='col-6'>
                    <%= simple_form_for @buoy, :url => add_image_attachment_buoy_url(@buoy), html: { class: "d-flex justify-content-center"} do |f| %>
                        <%=text_field_tag :type, "dimension_picture", class: "inactive-tab"%>
                        <%= f.input :picture, label: false, as: :file, input_html: { multiple: true }, required: true %>
                        <%= f.button :submit, "ADD", class: "btn btn-outline-danger m-0"%>
                    <% end %>
                </div>
                <div class='col-2'>
                </div>
                <div class='col-4'>
                    <% @buoy.dimension_picture.each_with_index do |picture, idx| %>
                        <%= simple_form_for @buoy, :url => delete_image_attachment_buoy_url(@buoy), html: { class: "d-inline"} do |f| %>
                            <%=text_field_tag :type, "dimension_picture", class: "inactive-tab"%>
                            <%=text_field_tag :file_name, picture, class: "inactive-tab"%>
                            <%= image_tag "http://www.pnboia.org/pictures/#{picture}", class: "nav-img"%>
                            <%= f.button :submit, "X", class: "btn btn-outline-danger m-0", data: { confirm: 'Are you sure?' } %>
                        <% end %>
                    <% end %>
                </div>
            </div>
        </div>

        <div class='col-12 pt-5 pb-5'>
            <p class='text-center'>LINHA DE FUNDEIO</p>
            <div class='row justify-content-center'>
                <div class='col-6'>
                    <%= simple_form_for @buoy, :url => add_image_attachment_buoy_url(@buoy), html: { class: "d-flex justify-content-center"} do |f| %>
                        <%=text_field_tag :type, "mooring_picture", class: "inactive-tab"%>
                        <%= f.input :picture, label: false, as: :file, input_html: { multiple: true }, required: true %>
                        <%= f.button :submit, "ADD", class: "btn btn-outline-danger m-0"%>
                    <% end %>
                </div>
                <div class='col-2'>
                </div>
                <div class='col-4'>
                    <% @buoy.mooring_picture.each_with_index do |picture, idx| %>
                        <%= simple_form_for @buoy, :url => delete_image_attachment_buoy_url(@buoy), html: { class: "d-inline"} do |f| %>
                            <%=text_field_tag :type, "mooring_picture", class: "inactive-tab"%>
                            <%=text_field_tag :file_name, picture, class: "inactive-tab"%>
                            <%= image_tag "http://www.pnboia.org/pictures/#{picture}", class: "nav-img"%>
                            <%= f.button :submit, "X", class: "btn btn-outline-danger m-0", data: { confirm: 'Are you sure?' } %>
                        <% end %>
                    <% end %>
                </div>
            </div>
        </div>


        <div class='col-12 pt-5 pb-5'>
            <p class='text-center'>CICLO DE FUNCIONAMENTO</p>
            <div class='row justify-content-center'>
                <div class='col-6'>
                    <%= simple_form_for @buoy, :url => add_image_attachment_buoy_url(@buoy), html: { class: "d-flex justify-content-center"} do |f| %>
                        <%=text_field_tag :type, "working_cycle_picture", class: "inactive-tab"%>
                        <%= f.input :picture, label: false, as: :file, input_html: { multiple: true }, required: true %>
                        <%= f.button :submit, "ADD", class: "btn btn-outline-danger m-0"%>
                    <% end %>
                </div>
                <div class='col-2'>
                </div>
                <div class='col-4'>
                    <% @buoy.working_cycle_picture.each_with_index do |picture, idx| %>
                        <%= simple_form_for @buoy, :url => delete_image_attachment_buoy_url(@buoy), html: { class: "d-inline"} do |f| %>
                            <%=text_field_tag :type, "working_cycle_picture", class: "inactive-tab"%>
                            <%=text_field_tag :file_name, picture, class: "inactive-tab"%>
                            <%= image_tag "http://www.pnboia.org/pictures/#{picture}", class: "nav-img"%>
                            <%= f.button :submit, "X", class: "btn btn-outline-danger m-0", data: { confirm: 'Are you sure?' } %>
                        <% end %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>