<%= render 'shared/navbar' %>

<div class="front-page-buoy banner  position-relative" style="background-image: url('<%= image_path 'banner.jpg' %>')" id="home">
  <div class="container banner">
    <h1 class='banner-title'>ACESSO AOS DADOS</h1>
  </div>
</div>
<div id='data-access' class='container'>
    <p class='pt-5 text-center'>Para acessar aos dados das boias, clique em uma boia,
    selecione o horário de início e fim dos dados e escolha o
    formato de download.</p>
    <div class="row ml-0 mr-0 pt-3 pb-5">
        <div class="col-sm-12 col-md-12 col-lg-12 text-right"> 
            <div class="row ml-0 mr-0">
                <% @lasts.each_with_index do |last, idx| %>
                    <div class="col-sm-4 col-md-4 col-lg-4 text-right" id='all-card-small'> 
                        <div class="card-product mt-1 p-0 box boia-<%=last['buoy_id']%>" id='card-small1' data-markers="<%= last.to_json %>"
                            data-last="<%= last.to_json %>"
                            data-first="<%= @firsts[idx].to_json %>"
                            data-pnboia-api-key="<%= ENV['PNBOIA_API_TOKEN'] %>"
                            >
                            <% if last['buoy']['status'] %>
                                <%= image_tag "buoy_green.png"%>
                            <% else %>
                                <%= image_tag "buoy_red.png"%>
                            <% end %>
                            <div class="card-product-infos w-100">
                                <h3 class='text-center'><%= last['buoy']["name"] %></h3>
                            </div>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 text-right pt-5 inactive-tab" id='date-download'> 
            <%= form_tag download_csv_path, method: :post, class: 'animate-pisc p-1' do %>
                <div class='row justify-content-center'>
                    <div class="col-sm-12 col-md-3 col-lg-3"> 
                        <p  class='m-0 p-0 letter-date'>Data Inicial:</p>
                        <%= date_field_tag :start_date,
                        params[:start_date],
                        class: "form-control input-sm p-0",
                        placeholder: "Data Inicial"
                        %>
                    </div>
                    <div class="col-sm-12 col-md-3 col-lg-3"> 
                        <p class='m-0 p-0  letter-date'>Data Final:</p>
                        <%= date_field_tag :end_date,
                        params[:end_date],
                        class: "form-control input-sm p-0",
                        placeholder: "Data Final"
                        %>
                    </div>
                    <%= text_field_tag :buoy_download, "", class: 'inactive-tab'  %>
                    <div class="col-sm-12 col-md-3 col-lg-3"> 
                        <%= submit_tag("ARQUIVO CSV", title: 'Baixar Dados', class: "search w-100 orange-button-search p-2") %>
                    </div>
                </div>
            <% end %>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 text-right pt-5 inactive-tab" id='download-format'> 
            <div class='row justify-content-center'>
                <div class="col-sm-3 col-md-3 col-lg-3"> 
                    <div class='search w-100 orange-button-search p-2' id='api-json'
                    data-apitoken="<%= @user.to_json %>"
                    data-apiurl="<%= ENV['PNBOIA_API_URI'] %>"
                    >				
                    ACESSO API (JSON)
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 text-justify pt-5 inactive-tab" id='api-doc'> 
            <div class='row justify-content-center'>
                <div class="col-sm-12 col-md-12 col-lg-12"> 
                    <p class='autentica'>LINK PARA ACESSO A API</p>
                    <%= text_field_tag :api_url,
                    params[:api_url],
                    readonly: true,
                    class: "form-control input-sm p-0"
                    %>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 text-justify pt-5" id='apid'
            data-pnboia-api-key="<%= ENV['PNBOIA_API_TOKEN'] %>"
            data-apiurl="<%= ENV['PNBOIA_API_URI'] %>"
            data-currentuser="<%= current_user.email %>"
            >
            <div class='row justify-content-center'>
                <div class="col-sm-12 col-md-6 col-lg-6"> 
                    <h3>Autenticação</h3>
                    <p class='autentica'>Para começar a usar a API do PNBOIA, primeiro gere um token de autenticação,
                    que lhe dá acesso aos dados coletados pelas boias.
                    Você deve incluir esse token em um campo de token nos cabeçalhos de solicitação
                    para todas as solicitações de API. Você pode gerar novamente o token de
                    autenticação a qualquer momento, mas isso invalidará todos os tokens anteriores.</p>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6"> 
                    <%= text_field_tag :api_user_token,
                    @user,
                    readonly: true,
                    class: "form-control input-sm p-0"
                    %>
                    <div class="mt-2 mb-2 white-button-small" id='generate-token'>GERAR UM NOVO TOKEN</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="image-strip2 text-center" id="fundo">
  <div class="container reveal">
    <div class="line"></div>
  </div>
</div>
<div class="projetos">
	<div class= "container text-justify" id="projetos">
		<h2>PROGRAMA NACIONAL DE BOIAS - PNBOIA</h2>
		<div class="row align-items-center">
			<div class="col-sm-12 col-md-6 col-lg-6 mt-2 align-items-center">	
				<div class= "card-project text-align-center ">
					<%= image_tag "about_2.jpg"%>
				</div>			
			</div>
			<div class="col-sm-12 col-md-6 col-lg-6 mt-2 align-items-center">
				<h6>Pelo terceiro ano consecutivo, os projetos <strong>ATMOS</strong>,
				<strong>CEOAC</strong> e <strong>REMObs</strong> gerenciados pelo INPE e pelo CHM se unem para manter um sistema extensivo de monitoramento das condições de ondas, ventos e correntes na região Antártica.
				E neste verão antártico de 2022/2023, com apoio do Navio Polar “Almirante Maximiano” e do Navio de Apoio Oceanográfico “Ary Rongel”,  ampliaram a rede de coleta
				de dados no “Continente Gelado”, com o fundeio de 3 boias meteoceanográficas,
				além da coleta de dados por meio de estações oceanográficas, lançamento
				de boias ondógrafo de deriva e instalação de estações meteorológicas nas 
				proximidades da Estação Antártica Comandante Ferraz.
				<strong>Aqui você poderá ter acesso aos dados coletados em tempo real por nossos sistemas.</strong> </h6>
			</div>			
		</div>
		<div class="row align-items-center mt-2">
			<div class="col-sm-12 col-md-6 col-lg-6 mt-2 align-items-center">	
				<h6>Gerenciado pelo <strong>Laboratório de Estudos do Oceano e da 
	      Atmosfera (LOA-OBT), do INPE, o ATMOS</strong> é uma iniciativa promissora da ciência, tecnologia e inovação, que visa a melhorar a compreensão das interações entre o gelo marinho-atmosfera-oceano-ondas e as trocas de calor, momentum 
				(quantidade de movimento) e CO2 em suas interfaces no Oceano Austral. É um projeto componente do <strong>PROANTAR</strong> e financiado pelo <strong>CNPq/MCTI/CAPES</strong>.</h6>
				<h6>Gerenciado pelo <strong>Grupo de Oceanos e Criosfera do Centro de Previsão de 
				Tempo e Estudos Climáticos do INPE (GOA/CPTEC-INPE)</strong>, o projeto <strong>CEOAC (Centro de Estudos de Interação
				Oceano-Atmosfera-Criosfera)</strong> é um projeto estabelecido desde 2009 pelo INCT da Criosfera, com vistas a estudar as trocas de calor, momento e gases entre o oceano e a atmosfera no Oceano Atlântico Sul e no Setor Atlântico do Oceano Austral, assim como as conexões climáticas entre a Antártica e América do Sul. O projeto usa dados de observações in situ,
				modelos e satélites e é financiado pelo CNPq, FAPERGS e CAPES.</h6>
			</div>
			<div class="col-sm-12 col-md-6 col-lg-6 mt-2 align-items-center">
				<div class= "card-project text-align-center">
					<%= image_tag "about_4.png"%>
				</div>	
			</div>			
		</div>
		<div class="row align-items-center mt-2">
			<div class="col-sm-12 col-md-6 col-lg-6 mt-2 align-items-center">
				<div class= "card-project text-align-center">
					<%= image_tag "about_3.jpg"%>
				</div>	
			</div>
			<div class="col-sm-12 col-md-6 col-lg-6 mt-2 align-items-center">	
				<h6>O projeto <strong>REMObs (REMO Observacional)</strong>, uma parceria entre o <strong>Centro de Hidrografia da Marinha (CHM) e a 
				PETROBRAS</strong>, contempla uma união de esforços para o desenvolvimento e consolidação de uma Boia Meteoceanográfica Nacional
				(BMO-BR). E para isso, também prevê o estabelecimento de uma rede de coleta de dados operacionais no Atlântico Sul, fator
				de grande importância para a calibração e validação de modelos de previsão meteoceanográfica.</h6>
				<h6>E neste ano também contamos
				com o apoio das empresas
				<a href="https://hidromares.com.br/" target="_blank" style="decoration: none"><strong>HIDROMARES</strong></a>,
				que integrou e é responsável pelo gerenciamento dos dados da boia Criosfera, e
				<a href="https://www.sofarocean.com/" target="_blank" style="decoration: none"><strong>SOFAR</strong></a>,
				que tem uma parceria de três anos com o CHM e o INPE para a realização de lançamento de boias
				de deriva no Drake.</h6>
				<h6>Os trabalhos de campo destes projetos somente foram possíveis graças ao
				apoio da <strong>Marinha do Brasil, a Petróleo Brasileiro S.A. e a Agência
				Nacional do Petróleo (ANP)</strong></h6>
			</div>
		</div>
	</div>
</div>
<%= render 'shared/footer' %>
